{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
    .event-image{
        background-image: url('https://res.cloudinary.com/dtzitz/image/upload/v1467559739/ZAV28Zd_nkcbls.jpg');
    }
</style>

<!--custom css-->
<link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}" />
<script type="text/javascript" src="{% static "details.js" %}" ></script>

<body>
    <div class="container-fluid event-image"></div>
    <div class="container">
        <div class="row">
        <h1> {{event.title}} </h1>
    </div>
    <div class="row">
        <h2> Date / Time : {{event.start_date}} - {{event.end_date}} </h2>
    </div>
    <div class="row">
        <h2 id="category"> Event Category: {{event.category}} </h2>
    </div>
    <div class="row">
        <h2> Event Summary: </h2>
        <p class="event-summary">
            {{event.summary}}
        </p>
    </div>
    </div>
    
        

</body>



{% endblock %}