{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<!--custom css-->
<link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}" />
<script type="text/javascript" src="{% static "details.js" %}" ></script>

<body>
    <div class="event-image">
        <div class="row">
            <img class="img-responsive center-block" src=" {{event.image_url}} ">
        </div>
    </div>
    <div class="container">
        <div class="row">
        <h1> {{event.title}} </h1>
    </div>
    <div class="row">
        <h2> Date / Time : {{event.start_date}} - {{event.end_date}} </h2>
    </div>
    <div class="row">
        <h2 id="category"> Event Category: {{event.category}} </h2>
    </div>
    <div class="row">
        <h2> Event Summary: </h2>
        <p class="event-summary">
            {{event.summary}}
        </p>
    </div>
    <div class="row">
        <h2>More Details: <a href="{{event.event_site}}">here</a>  </h2>
    </div>
    </div>
    
        

</body>



{% endblock %}