{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!--custom css-->
<link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}" />

<body>
    
    <div class="container">

      <div class="main">
        <h1>Upcoming Events:</h1>
        {% if upcoming_event_list %}
          <ul>
          {% for event in upcoming_event_list %}
            <li> {{event.event_title}} </li>
          {% endfor %}
          </ul>
        {% else %}
          <p>Check back later for upcoming events</p>
        {% endif %}
      </div>

    </div><!-- /.container -->
</body>


{% endblock %}