{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!--custom css-->
<link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}" />

<body>
    
    <div class="container">

      <div class="main">
        <h1>Upcoming Events:</h1>
        {% if events_row1 %}
          
            <div class="row">
          {% for event in events_row1 %}
                <!-- Card Projects -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-image">
                            <img class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png">
                            <span class="card-title">Festival</span>
                        </div>
                        
                        <div class="card-content">
                            <p> {{event.event_title}} </p>
                        </div>
                        
                        <div class="card-action">
                            <a href="#" target="new_blank">Link</a>
                            <a href="#" target="new_blank">Link</a>
                            <a href="#" target="new_blank">Link</a>
                            <a href="#" target="new_blank">Link</a>
                            <a href="#" target="new_blank">Link</a>
                        </div>
                    </div>
                </div>
          {% endfor %}
          </div>
          <div class="row">
          {% for event in events_row2 %}
          <div class="col-md-6">
                    <div class="card">
                        <div class="card-image">
                            <img class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png">
                            <span class="card-title">Festival</span>
                        </div>
                        
                        <div class="card-content">
                            <p> {{event.event_title}} </p>
                        </div>
                        
                        <div class="card-action">
                            <a href="#" target="new_blank">Link</a>
                            <a href="#" target="new_blank">Link</a>
                            <a href="#" target="new_blank">Link</a>
                            <a href="#" target="new_blank">Link</a>
                            <a href="#" target="new_blank">Link</a>
                        </div>
                    </div>
                </div>

          {% endfor %}
          </div>
        {% else %}
          <p>Check back later for upcoming events</p>
        {% endif %}
      </div> <!-- /main -->

    </div><!-- /.container -->
</body>


{% endblock %}