{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}" />

<body>
    <div class="container">
        <div class="main">
                
                <div class="row">
                    <img class="img img-responsive" src="https://res.cloudinary.com/dtzitz/image/upload/v1505587306/TampaBoredLogo_pfwpcx.jpg" alt="seagull logo">
                         <p>Logo photo by Salvatore Ventura on Unsplash</p> 
                    </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Weekend Warriors</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <ul class="event-list">
                        <li>
                                <time>
                                    <!-- <span class="day">Friday, Saturday, Sunday</span> -->
                                    <span class="month">Fri, Sat, Sun</span>
                                    <!-- <span class="year">2014</span> -->
                                    <span class="time">ALL DAY</span>
                                </time>
                                    <img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />
                                    <div class="info">
                                        <h2 class="title">Independence Day</h2>
                                        <p class="desc">United States Holiday</p>
                                    </div>
                                    
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>    
</body>


{% endblock %}