{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}" />

<body>
    <div class="container">
        <div class="main">
                
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="img img-responsive" src="https://res.cloudinary.com/dtzitz/image/upload/v1505587306/TampaBoredLogo_pfwpcx.jpg" alt="seagull logo">
                        <p>Logo photo by Salvatore Ventura on Unsplash</p> 
                    </div>
                    
                </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Weekend Warriors</h1>
                </div>
            </div>

            {% for event in recurring_events_list %}

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <ul class="event-list">
                        <li>
                            
                                <time>
                                    <!-- <span class="day">Friday, Saturday, Sunday</span> -->
                                    <span class="month">{{event.days}}</span>
                                    <!-- <span class="year">2014</span> -->
                                </time>
                                    <img alt="{{event.title}}" src="{{event.image}}" />
                                    <div class="info">
                                        <h2 class="title"> {{event.title}} </h2>
                                        <p class="desc"> {{event.summary}} </p>
                                        <p class="desc"><a href="{{event.website}}">Website</a></p>
                                    </div>
                            
                        </li>
                    </ul>
                </div>
            </div>

            {% endfor %}

            
        </div>
    </div>    
</body>


{% endblock %}