{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}" />

<body>
    <div class="container">
        <div class="main">
                
                <div class="row">
                    <img src="https://res.cloudinary.com/dtzitz/image/upload/v1505587306/TampaBoredLogo_pfwpcx.jpg" alt="seagull logo">
                         <p>Logo photo by Salvatore Ventura on Unsplash</p> 
                    </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Weekend Warriors</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Get coffee</h3>
                    <ul>
                        <li>Friday, Saturday</li>
                        <li> 4pm - 6pm</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <li> <a href="www.google.com">website</a> </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>    
</body>


{% endblock %}